.section {
}
.section > * {
    z-index: 50;
    position: relative;
}

.sectionBackground {
    content: ""; 
    left: 0;
    width: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    z-index: 1;
}
